/* 

GEEN ENKELE MARGIN TOEVOEGEN AAN ELEMENTEN DIT KOMT OMDAT BOOTSTRAP HIER GEBRUIK VAN MAAKT. ALS HET ECHT NIET ANDERS KAN GEBRUIK HET DAN EEN KLEIN BEETJE.

*/

/* ruimte voor menu bar  */
.navbar-brand{
    padding: 0px;
}

.nav-item{
    border: 1px solid black;
    background-color: #FFFFC2;
    border-radius: 10px;
}


.nav-item > a{
    color: #FFA6A6;
}

.nav-item:hover{
    background-color: #FFA6A6;
    color: #C8E7ED;
}

a:hover{
    color: #C8E7ED;
}



/* hamburger menu icon stylen */
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,166,166, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* winkel kar */
.fa-shopping-cart{
    padding-right: 150px;
    color: black;
}

/*einde menu */

/* Achtergrond kleur van alle pagina's */
body{
    background-color: #C8E7ED;
}

/* Footer op alle pagina's */
footer{
    background-color: #FFFFC2;
    color: #FFA6A6;
    position: fixed;
    bottom: 0px;
    right: 0.2px;
    text-align: center;
    width: 100%;
}

/* Blok voor de nieuws berichten */
.nieuws-bericht{
    height: 490px;
    width: 340px;
    float: left;
    margin-left: 30px;
    background-color: #FFFFC2;
    border: 1px solid black;
    border-radius: 10%;
    text-align: center;
    color: #FFA5A5;
    display: none;
    
}
.nieuws{
    position: absolute;
    top: 30%;
}
.bericht{
    position: relative;
    height: 40%;
    width: 100%;
    text-align: center;
    overflow-y: scroll;
    font-size: 17px;
}

/* width */
.bericht::-webkit-scrollbar {
    width: 20px;
}
  
  /* Track */
.bericht::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
  /* Handle */
.bericht::-webkit-scrollbar-thumb {
    background:#C8E7ED; 
    border-radius: 10px;
}
  
  /* Handle on hover */
.bericht::-webkit-scrollbar-thumb:hover {
    background: #FFA5A5; 
}

.drop-nieuws{
    position: relative;
    background-image: url(../pictures/producten/drop.jpg);
    background-size: contain;
    height: 30%;
    width: 90%;
}

/*heading opgemaakt*/
h1, h2, h3, h4, h5, h6, p{
    color: #FFA5A5;
}
/*overons sections opmaken*/
.over-ons{
    float: left;
}
.over-ons-tekst{
    width: 70%;
}
.over-ons-tekst > p{
    margin: 0px;
}
.center{
    text-align: center;
}