/* 

GEEN ENKELE MARGIN TOEVOEGEN AAN ELEMENTEN DIT KOMT OMDAT BOOTSTRAP HIER GEBRUIK VAN MAAKT. ALS HET ECHT NIET ANDERS KAN GEBRUIK HET DAN EEN KLEIN BEETJE.

*/

body{
    background-color: #C8E7ED;
}

/* ruimte voor menu bar  */
.navbar-custom{
    background: #FFFFC2;
}

img{
    height: 30%;
    width: 30%;
}

.nav-item{
    border: 1px solid black;
    background-color: #FFFFC2;
    border-radius: 10px;
}

.nav-item:nth-child(odd){
    margin-right: 30px;
}

.nav-item:nth-child(even){
    margin-right: 30px;
}

.nav-item > a{
    color: #FFA6A6;
}



/* tussen ruimtes van de menu items */
.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }

/* winkel kar */
.fa-shopping-cart{
    padding-right: 150px;
    color: black;
}

/* menu */

/* Achtergrond kleur van alle pagina's */
body{
    background-color: #C8E7ED;
}

/* Footer op alle pagina's */
footer{
    background-color: #FFFFC2;
    color: #FFA6A6;
    position: fixed;
    bottom: 0px;
    right: 0.2px;
    text-align: center;
    width: 100%;
}

/* Blok voor de nieuws berichten */
.nieuws-berichten{
    height: 200px;
    width: 160px;
    position: absolute;
    top: 50%;
    background-color: #FFFFC2;
    border: 1px solid black;
}